:root {
  --background: #f2f5f7;
  --text-primary: #2f4770;
  --text-secondary: #647780;
  --white: #fff;
}

.faq__container {
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  padding-bottom: 4rem;
}

.Faq__main {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  /* background-color: rgb(245, 245, 245); */
  /* padding: 50px 0; */
}

.Faq__main .Faq_head {
  font-size: 29px;
  color: rgba(91, 14, 216, 0.767);
  position: relative;
  margin-bottom: 100px;
  font-weight: 500;
}

.Faq__main .Faq_head::after {
  content: " ";
  position: absolute;
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

code {
  font-family: "source-code-pro", Menlo, Monaco, Consolas, "Courier New";
}

h1 {
  font-size: 42px;
  color: var(--text-primary);
  margin: 0;
  margin-bottom: 30px;
}

.accordion-simple > .active {
  display: block;
}

.accordion__faq .inactive {
  display: none;
}

.accordion__faq > div {
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
}

.accordion__title {
  color: var(--text-secondary);
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 28px;
}

.accordion__faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.accordion__faq-heading .active {
  color: var(--text-primary);
}

.accordion__faq-heading h3 {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.accordion__faq p {
  margin: 0;
  padding-bottom: 30px;
  color: var(--text-secondary);
  line-height: 1.4;
}
/* ... Existing CSS code ... */

.accordion__faq span {
  font-size: 24px;
  display: inline;
  margin-left: 10px;
  float: right;
  margin-top: -35px;
}
