
.judges-pic{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 20px;
}
.judges-text{
  font-size: 20px;
  color: #ffae00;
}
.card{
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  margin: 0px 20px;
  font-size: 4rem;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
}