:root {
  --main-col: #c8c;
  --sec-col: lighten(#303f9f, 20%);
  --back-col: #c5cae9;
}



.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card-one header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: var(--main-col);
}

.card-one header::before,
.card-one header::after {
  content: '';
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}

.card-one header::before {
  transform: skewY(-8deg);
  transform-origin: 100% 100%;
}

.card-one header::after {
  transform: skewY(8deg);
  transform-origin: 0 100%;
}

.card-one header .avatar {
  position: relative;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}

.card-one header .avatar img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
  font-size: 28px;
}

.card-one h3::after {
  content: '';
  position: relative;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}

.card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}

.card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-one .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: var(--main-col);
  font-size: 25px;
}

.card-one .contacts a:hover {
  color: #333;
}

.card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
}

.card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
}

.card-one .contacts a .fa::after {
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: var(--main-col);
  transition: width 0.3s, height 0.3s;
}

.card-one .contacts a:last-of-type .fa {
  line-height: 36px;
}
@media (max-width: 480px) {
  /* Styles for screen width up to 480px */
  .judge-card {
    width: 250px;
    margin: 0 150px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for screen width between 481px and 767px */
  .judge-card {
    width: 280px;
    margin: 0 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for screen width between 768px and 991px */
  .judge-card {
    width: 320px;
    margin: 0 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for screen width between 992px and 1199px */
  .judge-card {
    width: 350px;
    margin: 0 100px;
    
  }
}

