* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ECF2FF;
}
.row {
  display: flex;
  flex-wrap: wrap;
  
  padding-bottom:0em;
 padding-top: 0em;
  text-align: center;
}
.column {
  width: 100%;
  padding: 1.5em 0;
  padding-left: 5.5em;
  padding-bottom: 3em;
}
h1 {
  width: 100%;
  text-align: left;
  font-size: 3.5em;
  color: #1f003b;
  text-decoration: underline;
  text-decoration-color: #fa4b30;
  padding-bottom: 2;
  margin-left: 2rem;
  
p{
  text-align: center;
}
}
.h3{
  width: 100%;
  text-align: left;
  font-size: 18em;
  color: #1f003b;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #f2efef;
  width: 18rem;
  height: 25rem;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 734px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 734px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 1;
  }
}
