.about-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-left-section {
    flex: 1;
    color: #fff;
}

.about-right-section {
    flex: 0.5;
    padding-left: 20px;
}

.about-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-left-section p {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.hackathon-image {
    max-width: 100%;
    height: auto;
    animation: imageAnimation 1s infinite alternate;
}

@keyframes imageAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}