@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

.span{
    text-decoration:Underline;
    text-decoration-color: #ec398b;
}
.lgx-about {
    background: #ffffff;
    padding: 1.5rem 4.2rem;
}

.lgx-inner {
    padding: 13rem 0;
    margin: 0 auto;
}

.lgx-about-content-area {
    font-family: Oswald, sans-serif;
    margin-bottom: 2.6rem;
    text-align: left;
}

.lgx-about-content-area .lgx-heading .heading {
    margin: 0;
}

.lgx-about-content-area .lgx-heading .subheading {
    color: #ec398b;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    opacity: 1;
    text-align: left;
}

.lgx-heading {
    text-align: left;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: block;
    margin-top: -1.6rem;
}

.lgx-heading .heading {
    font-family: Oswald, sans-serif;
    font-size: 4.2rem;
    line-height: 6.300000000000001rem;
    color: #1b273d;
    font-weight: 900;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
}

.lgx-heading .subheading {
    font-size: 2rem;
    line-height: 3rem;
    color: #1b273d;
    color: rgba(50, 51, 51, .8);
    font-weight: 400;
    margin: 0
}

.lgx-about-content {
    text-align: left;
    margin: 0 .3rem;
}

.text {
    font-family: Poppins, sans-serif;
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgba(50, 51, 51, .8);
    display: inline-block;
}

