.sponsored-heading {
    font-size: 1.6rem;
    line-height: 3.9000000000000004rem;
    font-weight: 700;
    color: #554bb9;
    text-transform: uppercase;
    text-align: center;
    margin: 6.8rem 0 2rem;
    display: block
}

.sponsored-heading.first-heading {
    margin-top: 0
}

.sponsored-heading.secound-heading {
    color: #ec398b
}

.sponsored-heading.third-heading {
    color: #efa506
}

.sponsors-area {
    text-align: center
}

.sponsors-area .single {
    overflow: hidden;
    margin: 0 .5% .6rem;
    padding: 1.6rem;
    border-radius: 16px;
    width: 23%;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05)
}

.sponsors-area .single a {
    display: block;
    text-align: center
}

.sponsors-area .single a img {
    width: 100%
}

.sponsors-area .single:hover {
    opacity: 1
}

.sponsors-area .single:hover a img {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: .4s;
    animation-timing-function: linear
}
.sponsors-area-nogap .single {
    margin: 0 0 4px;
    display: inline-table
}
.sponsors-area-noshadow .single {
    box-shadow: none
}

.sponsors-area-noshadow .single:hover {
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .05)
}
